.card-category, .switch__slider, .header__nav, .header__burger span {
  background: #22c1c3;
  background: linear-gradient(45deg, #22c1c3 0%, #fdbb2d 100%);
}

.play__start, .play__repeat, .switch__input:checked + .switch__slider, .wrapper._play-mode .card-category, .wrapper._play-mode .header__nav, .wrapper._play-mode .header__burger span {
  background: #de3802;
  background: linear-gradient(45deg, #de3802 0%, #00d4ff 100%);
}

.wrapper {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.wrapper._play-mode .toggle__text:first-child {
  color: #888;
  font-size: 20px;
}
@media (max-width: 768px) {
  .wrapper._play-mode .toggle__text:first-child {
    font-size: 18px;
  }
}
.wrapper._play-mode .toggle__text:last-child {
  color: #00d4ff;
  font-size: 30px;
}
@media (max-width: 768px) {
  .wrapper._play-mode .toggle__text:last-child {
    font-size: 24px;
  }
}
.wrapper._play-mode .header__burger._active span {
  background: red;
}
.wrapper._play-mode .card-item {
  height: 220px;
}
.wrapper._play-mode .card-item .card-item__content {
  display: none;
}
.wrapper._play-mode .card-item .card-item__image {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.wrapper._play-mode .card-item__front {
  box-shadow: 0 1px 4px #00d4ff;
}
@media (hover: hover) {
  .wrapper._play-mode .card-item__front:hover {
    box-shadow: 0 12px 14px #00d4ff;
  }
}
.wrapper._play-mode .card-item__front.active {
  pointer-events: none;
}
.wrapper._play-mode .card-item__front.hide {
  box-shadow: none;
  pointer-events: none;
}
.wrapper._play-mode .card-item__front.hide:hover {
  box-shadow: none;
}
.wrapper._play-mode .card-item__front.hide .card-item__image {
  filter: blur(3px);
  transform: scale(0.8);
}
@media (max-width: 768px) {
  .wrapper._play-mode .card-item {
    height: 125px;
  }
}
.wrapper._play-mode .play {
  display: block;
}

.page {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 30px 0px 60px 0px;
  display: flex;
  justify-content: space-between;
}
.header__burger {
  display: block;
  width: 42px;
  height: 30px;
  cursor: pointer;
  z-index: 5;
  position: relative;
  transition: all 1s ease 0s;
}
.header__burger span {
  top: calc(50% - 1px);
  left: 0px;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}
.header__burger span:first-child {
  top: 0px;
}
.header__burger span:last-child {
  top: auto;
  bottom: 0px;
}
.header__burger._active span {
  transform: scale(0);
  background: red;
}
.header__burger._active span:first-child {
  transform: rotate(-45deg);
  top: 13px;
}
.header__burger._active span:last-child {
  transform: rotate(45deg);
  bottom: 13px;
  width: 100%;
}
.header__nav {
  padding: 100px 0 0 0;
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow: auto;
  transform: translateX(120%);
  transition: all 0.5s ease 0s;
  z-index: 3;
}
.header__nav._active {
  transform: translateX(0%);
}
.header__nav._active ~ .header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.164);
  transition: all 0.5s ease 0s;
  z-index: 2;
}
.header__link {
  display: block;
  padding: 20px 40px;
  color: #fff;
  font-size: 24px;
  transition: all 0.3s ease 0s;
}
.header__link:hover {
  background-color: #3b3636;
}
.header__link.active {
  background-color: #888888;
}

.toggle {
  display: flex;
  align-items: flex-end;
}
.toggle__text {
  font-size: 20px;
  color: #5e5d5d;
  transition: all 0.3s ease 0s;
}
.toggle__text:first-child {
  font-size: 30px;
  color: #fdbb2d;
}
@media (max-width: 768px) {
  .toggle__text {
    font-size: 18px;
  }
  .toggle__text:first-child {
    font-size: 24px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 20px;
  width: 60px;
  height: 30px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .switch {
    margin: 0 10px;
  }
}
.switch__input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch__input:not(:checked):active + .switch__slider::before {
  width: 2.4rem;
}
.switch__input:checked:active + .switch__slider::before {
  transform: translate(1rem, -50%);
  width: 2.4rem;
}
.switch__input:checked + .switch__slider::before {
  transform: translate(1.8rem, -50%);
}
.switch__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1rem;
  transition: background 0.2s;
}
.switch__slider:before {
  content: "";
  position: absolute;
  left: 0.2rem;
  top: 50%;
  transform: translateY(-50%);
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background: #fff;
  transition: transform 0.2s, width 0.2s, background 0.2s;
}

.category-title__text {
  padding-bottom: 30px;
  text-align: center;
  font-size: 35px;
  color: #5e5d5d;
}
@media (max-width: 768px) {
  .category-title__text {
    padding-bottom: 20px;
    font-size: 30px;
  }
}

.wrapper-stars {
  margin: 0px 0px 20px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.wrapper-stars img {
  width: 50px;
  height: 50px;
}
@media (max-width: 768px) {
  .wrapper-stars img {
    width: 40px;
    height: 40px;
  }
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.card-category {
  width: 250px;
  margin: 0 25px 25px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease 0s;
}
@media (hover: hover) {
  .card-category:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}
.card-category__image {
  display: block;
  width: 230px;
  height: 210px;
  border-radius: 20px;
  margin: 10px auto 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-category__text {
  margin: 20px 0px;
  font-size: 24px;
  color: #000;
  text-align: center;
}
@media (max-width: 768px) {
  .card-category {
    width: 145px;
    margin: 0 5px 10px;
  }
  .card-category__image {
    width: 135px;
    height: 120px;
    border-radius: 20px;
    margin: 5px auto 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card-category__text {
    margin: 17px 0px;
    font-size: 16px;
  }
}

.card-item {
  width: 250px;
  height: 290px;
  margin: 0 25px 25px;
  background-color: #fff;
  position: relative;
  perspective: 500px;
}
.card-item._game .card-item__front {
  box-shadow: none;
}
.card-item._game .card-item__front:hover {
  box-shadow: none;
}
.card-item._game .card-item__image {
  filter: grayscale(50%);
  cursor: unset;
}
.card-item._active {
  cursor: default;
}
.card-item._active .card-item__front {
  transform: rotateY(180deg);
}
.card-item._active .card-item__back {
  transform: rotateY(360deg);
  z-index: 2;
}
.card-item__front, .card-item__back {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  transition: transform 1s ease 0s, box-shadow 0.3s ease 0s;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: 0 1px 4px #fdbb2d;
}
@media (hover: hover) {
  .card-item__front:hover {
    box-shadow: 0 11px 14px #fdbb2d;
  }
}
.card-item__back {
  transform: rotateY(180deg);
}
.card-item__back .card-item__image {
  cursor: unset;
}
.card-item__image {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  max-width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.card-item__text {
  padding: 22px 0;
  text-align: center;
  font-size: 25px;
  color: #5e5d5d;
}
.card-item__rotate {
  width: 30px;
  height: 30px;
  background: url("assets/img/rotate.png") center no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 19px;
  right: 16px;
  transition: all 0.7s ease 0s;
  z-index: 1;
}
.card-item__rotate:hover {
  transform: rotate(-180deg);
}
@media (max-width: 768px) {
  .card-item {
    width: 145px;
    height: 175px;
    margin: 0 5px 10px;
  }
  .card-item__image {
    height: 125px;
  }
  .card-item__text {
    padding: 17px 0;
    font-size: 16px;
  }
  .card-item__rotate {
    width: 20px;
    height: 20px;
    bottom: 13px;
    right: 10px;
  }
}

.play {
  text-align: center;
}
.play__start, .play__repeat {
  display: inline-block;
  margin-top: 40px;
  padding: 10px 20px;
  color: #000;
  font-size: 25px;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  box-shadow: 0 2px 5px #00d4ff;
}
.play__start:hover, .play__repeat:hover {
  box-shadow: 0 7px 14px #00d4ff;
}
@media (max-width: 768px) {
  .play__start, .play__repeat {
    margin-top: 25px;
    font-size: 20px;
  }
}

.result {
  margin: auto;
  text-align: center;
}
.result img {
  max-width: 100%;
  height: auto;
}
.result__text {
  margin: 20px 0px 0px 0px;
  font-size: 45px;
  color: #00d4ff;
}
@media (max-width: 768px) {
  .result__text {
    font-size: 25px;
  }
}
.result__text span {
  color: #de3802;
}

.footer {
  margin: 60px 0px 30px 0px;
  text-align: center;
  font-size: 16px;
  color: #000;
}
.footer__author {
  margin: 0px 0px 10px 0px;
}
.footer__author_icon {
  display: inline-block;
  margin: 0px 5px 0px 0px;
  max-width: 15px;
}
.footer__author_link {
  color: inherit;
  text-decoration: underline;
}

.error {
  margin: auto;
  padding: 30px;
  text-align: center;
}
.error__img {
  max-width: 400px;
}
.error__title {
  margin: 30px 0px 30px 0px;
  font-size: 25px;
  color: #5e5d5d;
}
.error__back {
  padding: 10px 15px;
  font-size: 18px;
  color: #ffffff;
  background-color: #fdbb2d;
  border-radius: 1rem;
  transition: all 0.3s ease 0s;
}
.error__back:hover {
  color: #ffffff;
  background-color: #00d4ff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}