%mode-train {
	background: #22c1c3;
	background: linear-gradient(45deg, #22c1c3 0%, #fdbb2d 100%);
}
%mode-play {
	background: #de3802;
	background: linear-gradient(45deg, #de3802 0%, #00d4ff 100%);
}
$color-train: #fdbb2d;
$color-play: #00d4ff;

.wrapper {
	max-width: 1240px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;

	&._mode-play {

		.toggle__text:first-child {
			color: #888;
			font-size: 20px;

			@media (max-width: 768px) {
				font-size: 18px;
			}
		}
		.toggle__text:last-child {
			color: $color-play;
			font-size: 30px;

			@media (max-width: 768px) {
				font-size: 24px;
			}
		}

		.header__burger span {
			@extend %mode-play;
		}
		.header__burger._active span {
			background: red;
		}

		.header__nav {
			@extend %mode-play;
		}

		.card-category {
			@extend %mode-play;
		}

		.card-item {
			height: 220px;

			.card-item__content {
				display: none;
			}

			.card-item__image {
				border-bottom-right-radius: 5px;
				border-bottom-left-radius: 5px;
			}
			&__front {
				box-shadow: 0 1px 4px $color-play;

				&.hide {
					box-shadow: none;

					&:hover {
						box-shadow: none;
					}
				}

				&:hover {
					box-shadow: 0 12px 14px $color-play;
				}
			}

			@media (max-width: 768px) {
				height: 125px;
			}
		}

		.play {
			display: block;
		}
	}
}
.page {
	flex: 1 1 auto;

	&._result {
		display: flex;
	}
}
.header {
	padding: 30px 0px 60px 0px;
	display: flex;
	justify-content: space-between;

	&__burger {
		display: block;
		width: 42px;
		height: 30px;
		cursor: pointer;
		z-index: 5;
		position: relative;
		transition: all 1s ease 0s;

		span {
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 4px;
			@extend %mode-train;
			border-radius: 50px;
			transition: all 0.3s ease 0s;

			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				background: red;

            &:first-child {
               transform: rotate(-45deg);
               top: 13px;
            }
            &:last-child {
               transform: rotate(45deg);
					bottom: 13px;
					width: 100%;
            }
         }
		}
	}

	&__nav {
		padding: 100px 0 0 0;
		width: 320px;
		height: 100%;
		@extend %mode-train;
		position: fixed;
		top: 0;
		right: -120%;
		overflow: auto;
		transition: all 0.5s ease 0s;
		z-index: 3;

		&._active {
			right: 0;

			~.header__overlay {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.164);
				transition: all 0.3s ease 0s;
				z-index: 2;
			}
			
		}
	}

	&__link {
		display: block;
		padding: 20px 40px;
		color: #fff;
		font-size: 24px;
		transition: all 0.3s ease 0s;

		&:hover {
			background-color: rgb(59, 54, 54);
		}	
		
		&.active {
			background-color: #888888;
		}
	}
}
.toggle {
	display: flex;
	align-items: flex-end;

	&__text {
		font-size: 20px;
		color:#5e5d5d;
		transition: all 0.3s ease 0s;

		&:first-child {
			font-size: 30px;
			color: $color-train;
		}

		@media (max-width: 768px) {
			font-size: 18px;

			&:first-child {
				font-size: 24px;
			}
		}
	}
}
.switch {
	position: relative;
	display: inline-block;
	margin: 0 20px;
	width: 60px;
	height: 30px;
	cursor: pointer;

	@media (max-width: 768px) {
		margin: 0 10px;
	}

	&__input {
		opacity: 0;
		width: 0;
		height: 0;

		&:checked + .switch__slider {
			@extend %mode-play;
		}

		&:not(:checked):active + .switch__slider::before {
			width: 2.4rem;
		}
		 
		&:checked:active + .switch__slider::before {
			transform: translate(1rem, -50%);
			width: 2.4rem;
		}
		 
		&:checked + .switch__slider::before {
			transform: translate(1.8rem, -50%);
		}
	}

	&__slider {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		@extend %mode-train;
		border-radius: 1rem;
		transition: background 0.2s;

		&:before {
			content: "";
			position: absolute;
			left: 0.2rem;
			top: 50%;
			transform: translateY(-50%);
			height: 1.6rem;
			width: 1.6rem;
			border-radius: 50%;
			background: #fff;
			transition: transform 0.2s, width 0.2s, background 0.2s;
		}
	}
}
.category-title__text {
	padding-bottom: 30px;
	text-align: center;
	font-size: 35px;
	color:#5e5d5d;

	@media (max-width: 768px) {
		padding-bottom: 20px;
		font-size: 30px;
	}
}
.wrapper-stars {
	margin: 0px 0px 20px 0px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	img {
		width: 50px;
		height: 50px;

		@media (max-width: 768px) {
			width: 40px;
			height: 40px;
		}
	}

}
.cards {
	 display: flex;
	 justify-content: center;
	 flex-wrap: wrap;
	 margin: 0 -15px;
}
.card-category {
	width: 250px;
	margin: 0 25px 25px;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.3s ease 0s;
	@extend %mode-train;

	&:hover {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}

	&__image {
		display: block;
		width: 230px;
		height: 210px;
		border-radius: 20px;
		margin: 10px auto 0;
		object-fit: cover;
	}

	&__text {
		margin: 20px 0px;
		font-size: 24px;
		color: #000;
		text-align: center;
	}

	@media (max-width: 768px) {
		width: 145px;
		margin: 0 5px 10px;

		&__image {
			width: 135px;
			height: 120px;
			border-radius: 20px;
			margin: 5px auto 0;
			object-fit: cover;
		}
	
		&__text {
			margin: 17px 0px;
			font-size: 16px;
		}
	}
}
.card-item {
	width: 250px;
	height: 290px;
	margin: 0 25px 25px;
	background-color: #fff;
	position: relative;
	perspective: 500px;

	&._game {
		.card-item__front {
			box-shadow: none;
			
			&:hover {
				box-shadow: none;
			}
		}
		.card-item__image {
			filter: grayscale(50%);
			cursor: unset;
		}
	}

	&._active {
		cursor: default;

		.card-item__front {
			transform: rotateY(180deg);
		}

		.card-item__back {
			transform: rotateY(360deg);
			z-index: 2;
		}
	}

	&__front,
	&__back {
		width: 100%;
		height: 100%;
		position: absolute;
		border-radius: 5px;
		top: 0;
		left: 0;
		transition: transform 1s ease 0s, box-shadow 0.3s ease 0s;
		overflow: hidden;
		backface-visibility: hidden;
		box-shadow: 0 1px 4px $color-train;

		&:hover {
			box-shadow: 0 11px 14px $color-train;
		}
			
		&.hide {
			box-shadow: none;
			
			&:hover {
				box-shadow: none;
			}
			
			.card-item__image {
				filter: blur(3px);
				transform: scale(0.8);

				&:hover {
					cursor: unset;
				}
			}

		}
	}

	&__back {
		transform: rotateY(180deg);
	}
	
	&__image {
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		max-width: 100%;
		height: 220px;
		object-fit: cover;
		cursor: pointer;
	}

	&__text {
		padding: 22px 0;
		text-align: center;
		font-size: 25px;
		color:#5e5d5d;
	}

	&__rotate {
		width: 30px;
		height: 30px;
		background: url('assets/img/rotate.png') center no-repeat;
		background-size: cover;
		position: absolute;
		bottom: 19px;
		right: 16px;
		transition: all 0.7s ease 0s;
		z-index: 1;

		&:hover {
			transform: rotate(-180deg);
		}
	}

	@media (max-width: 768px) {
		width: 145px;
		height: 175px;
		margin: 0 5px 10px;

		&__image {
			height: 125px;
		}

		&__text {
			padding: 17px 0;
			font-size: 16px;
		}

		&__rotate {
			width: 20px;
			height: 20px;
			bottom: 13px;
			right: 10px;
		}
	}
}
.play {
	text-align: center;

	&__start,
	&__repeat {
		display: inline-block;
		margin-top: 40px;
		padding: 10px 20px;
		@extend %mode-play;
		color: #000;
		font-size: 25px;
		border-radius: 5px;
		transition: all 0.3s ease 0s;
		box-shadow: 0 2px 5px $color-play;
		
		&:hover {
			box-shadow: 0 7px 14px $color-play;
		}

		@media (max-width: 768px) {
			margin-top: 25px;
			font-size: 20px;
		}
	}
}
.result {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;

	img {
		max-width: 100%;
		height: auto;
	}
	
	&__text {
		margin: 20px 0px 0px 0px;
		font-size: 45px;
		color: #00d4ff;

		@media (max-width: 768px) {
			font-size: 25px;
		}

		span {
			color: #de3802;
		}
	}
}
.footer {
	margin: 60px 0px 30px 0px;
	text-align: center;

	&__author {
		font-size: 14px;
		color: #000;

		&_link {
			color: inherit;
			text-decoration: underline;
		}
	}
}